/* iPads and Tablets - portrait */

@media screen and (max-width: 768px) {
  /*[aria-controls="navbarDropdown"] {*/
  /*  display: block;*/
  /*}*/

  /*[aria-expanded="false"] ~ ul {*/
  /*  display: none;*/
  /*}*/

  [aria-expanded="true"] ~ ul {
    /*position: absolute;*/
    right: 0;
    top: var(--size-50);
    background-color: var(--white);
    width: 100%;
  }

  [aria-expanded="true"] ~ ul li a {
    color: var(--font-color-dark);
    margin-right: var(--size-20);
  }

  .navbar-nav {
    position: relative;
    top: 2px;
  }

  .nav-link a { margin-right: 20px;
  }

  footer .footer-col:nth-child(3) {
    grid-column: 1 / 3;
  }

  .copyright p {
    position: relative;
    left: 48px;
  }
}

@media screen and (max-width: 599px) {

  /* Start of Home page */

  .side-by-side1 {
    position: relative;
    left: 40px;
  }

  .side-by-side2 {
    position: relative;
    right: 40px;
  }


  /* End of Home page */

  /* Start of Hydrosols */

  .artisan-lavender { position: relative; }
  .artisan-lavender, .peppermint-hydrosol, .ginger, .rose, .lemon-balm, .ginger, .frankincense-hydrosol {
    width: 110%;
  }

  .hydrosol {
    display: grid;
    gap: 10em;
    margin-bottom: 146px;
  }

  .image-hydrosol { right: 22px; }

  .hydrosol-overlay { right: 10px; }

  .hydrosol-overlay2 {
    top: 270px;
    left: 2.40625rem;
  }

  .hydrosol-overlay3 { left: 40px; }

  /*.hydrosol-overlay7 { left: 2.40625rem; }*/

  .hydrosol-overlay4 {
    top: -46px;
    left: 40px;
  }

  .mango { width: 48%; }

  .image-carrier {
    position: relative;
    top: 16px;
  }

  /* End of Hydrosol */

  /* Start of Carrier Oils */

  .carrier-overlay { left: 30px; }


  /* End of Carrier Oils */

  /* Start of Milk Mask */
  .masks1, .masks2 {
    display: grid;
    width: 70%;
    margin: auto auto 20px;
    left: 9px;
  }

  .masks2 { margin-bottom: 150px; }

  .milk-overlay {
    width: 332px;
    height: 332px;
    margin: auto;
    right: 22px;
    bottom: 0;
  }

  .blueberry-milk, .matcha-milk { padding: 0 6px; }



  /* End of Milk Mask */

  /* Start of FAQ page */
  .accordion, .panel { width: 92%; }



  /* End of FAQ page */


  /* Start of Footer */
  .copyright p {
    /*position: relative;*/
    /*left: 36px;*/
  }

  /* End of Footer */
}

@media screen and (max-width: 480px) {
  /* Start of Navbar */

  [aria-controls="navbarDropdown"] { display: block; }

  [aria-expanded="false"] ~ ul { display: none; }

  [aria-expanded="true"] ~ ul {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: transparent;
  }

  [aria-expanded="true"] ~ ul li a {
    color: var(--white);
    margin-right: var(--size-20);
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
  }

  .navbar-nav.sticky { background-color: var(--white); }

  .container { padding-bottom: 24px; }

  .nav-link { position: initial; }

  /*.rwc-logo1 {*/
  /*  display: none;*/
  /*}*/

  .rwc-logo1.sticky { display: none; }

  .rwc-logo2 { display: inherit; }

  .navbar.rwc-logo2.sticky { display: inherit; }

  /* End of Navbar */

  /* Start of Essential Oils */
  .oils {
    display: grid;
    gap: 10em;
    margin-bottom: 146px;
  }

  .oils3 { margin-bottom: 250px; }

  .lemon, .blood-orange, .green-mandarin, .peppermint, .breathe-clear,
  .lavender, .greek-lavender, .frankincense, .eucalyptus, .mountain_bandits, .breathe-clear { width: 94%; }

  .breathe-clear2 {
    width: 124%;
    right: 46px;
  }

  .breathe-clear2 { width: 128%; }

  .image-oils { left: 12px; }

  .image-oils2 { left: 10px; }

  .image-oils3 { left: 0; }

  .oils-overlay { left: 18px; }

  .oils-overlay2 { left: 18px; }

  /*.oils-overlay3 { left: 48px; }*/

  /*.oils-overlay4 { left: -25px; }*/




  /* End of Essential Oils */

  /*!* Start of Hydrosol *!*/

  /*.hydrosol-overlay2, .hydrosol-overlay3, .hydrosol-overlay4 { left: 21.5px; }*/


  /*!* End of Hydrosol *!*/

  /* Start of Carrier Oils */

  .carrier-overlay { left: 38px; }


  /* End of Carrier Oils */

  /*.hero-wrapper { text-align: center; }*/

  /*.why-me-wrapper {*/
  /*  flex-wrap: wrap;*/
  /*  text-align: center;*/
  /*}*/

  /*.why-me-wrapper .block-text { padding-right: 0; }*/

  /*.why-me-wrapper > div { flex: initial; }*/

  /*.price-sheet {*/
  /*  position: relative;*/
  /*  top: 60px;*/
  /*}*/

  /*.bg-price-section { padding-top: 0 }*/

  /*.price-card .price-card1 h3 { font-weight: 600; }*/
  /*.price-card h3 { font-size: var(--size-20)}*/

  /*.price-card1 {*/
  /*  display: inherit;*/
  /*  font-size: var(--size-18);*/
  /*}*/

  /*.side-by-side1 {*/
  /*  position: relative;*/
  /*  left: 60px;*/
  /*}*/
  /*.side-by-side2 {*/
  /*  position: relative;*/
  /*  right: 60px;*/
  /*}*/

  /*.price-card2 { display: none; }*/

  /*.salt-therapy { height: auto; }*/

  /*!* Start of Contact Page *!*/

  /*.contact h3, .hours {*/
  /*  font-size: 1.1rem;*/
  /*  line-height: 1.3rem;*/
  /*}*/

  /*!* End of Contact Page *!*/

  /*!* Start of FAQ Page *!*/

  /*.accordion, .panel { width: 92% }*/

  /*!* End of FAQ Page *!*/

  /*!* Start of Footer *!*/

  /*footer .footer-col:nth-child(3) {*/
  /*  grid-column: initial;*/
  /*}*/

  /*footer .footer-col:nth-child(1) {*/
  /*  order: 3;*/
  /*}*/

  /*.email {*/
  /*  text-decoration: none;*/
  /*  color: var(--white);*/
  /*}*/

  /*.visa { height: 51px; }*/

  /*!*.discover {*!*/
  /*!*  height: 34px;*!*/
  /*!*  width: 46px;*!*/
  /*!*  top: 9px;*!*/
  /*!*}*!*/

  /*.footer-bottom { padding: var(--size-30); }*/

  /*.copyright {*/
  /*  position: relative;*/
  /*  right: 6px;*/
  /*}*/

  /*.footer-bottom-links {*/
  /*  position: relative;*/
  /*  left: var(--size-10);*/
  /*}*/


  /*!* End of Footer *!*/
}

@media screen and (max-width: 400px) {

  /* Start of Essential Oils */

  /*.oils-overlay2{ left: 12px; }*/
  .oils-overlay4 { left: 20px; }
  /*.oils-overlay3 { left: 0; }*/


  /* End of Essential Oils */

  /* Start of Hydrosol */

  .hydrosol-sprays {
    width: 20%;
  }

  .hydrosol-overlay2 { left: 22px; }

  .hydrosol-overlay3 { left: 22px; }

  /* End of Hydrosol */

  /* Start of Carrier Oils */

  .carrier-overlay { left: 21px; }

  /* End of Carrier Oils */

  /* Start of Plant-Based Masks */

  .milk-overlay {
    width: 304px;
    height: 304px;
  }

  .vanilla-milk { padding: 0 2px; }
  .avocado-milk { padding: 0 3px; }


  /* End of Plant-Based Masks */


  /* Start of Footer */
  .copyright p {
    left: 36px;
  }

  /* End of Footer */
}

@media screen and (max-width: 375px) {

  /* Start of Essential Oils */

  .oils-overlay2, .oils-overlay3 { left: 12px; }
  /*.oils-overlay5 { left: 0; }*/

  /* End of Essential Oils */

  /* Start of Hydrosol */

  .hydrosol-overlay2, .hydrosol-overlay3 { left: 12px; }

  .hydrosol-overlay6 { left: 20px; }


  /* End of Hydrosol */

  /* Start of Carrier Oils */

  .carrier-overlay { left: 12px; }

  /* End of Carrier Oils */


  /* Start of Milk Masks */

  .masks1, .masks2 {
    display: grid;
    width: 70%;
    margin: auto auto 20px;
    left: 9px;
    /*margin-bottom: 20px;*/
  }

  .masks1 {
    gap: 20px;
    margin-bottom: 20px;
  }

  .masks2 { margin-bottom: 150px; }

  .milk-masks {
    width: 100%;
    bottom: 2px;
  }

  .milk-overlay {
    width: 289px;
    height: 289px;
    right: 22px;
    bottom: 2px;
  }



  /* End of Milk Masks *?


  /* Start of Footer */
  .copyright p {
    left: 36px;
  }

  /* End of Footer */
}